
.about-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-flow: wrap;
	float: left;
  background-color: #E43;
  width: 65%;
}

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 90%; 
  margin-top: 3%;
}

.introduction{
  opacity: 1;
  flex-grow: 1;
  flex-shrink: 1;
  width: 70%;
}

.introduction span {
  font-size: 1.2em;
  color: #FFFFFF;
}

.personaldata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20%; 
  color: #474747;
  font-family: 'Montserrat', sans-serif;
  padding-top:  1.0em;
}


.personaldata h4 {
  font-size: 1.em;
  color: #333333;
}

.personaldata p {
  padding-top:  1.0em;
  font-size: 0.7em;
  width: 60%;
  text-align: justify;
  padding-bottom:  1.0em;
  color: #FFFFFF;
}

.personaldata .Obama-speech {
  width: 45%;
  font-style: italic;
  text-align: center;
}

.personaldata .Obama-signature {
  text-decoration: none;
  font-style: normal;
  color: #333333;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
}

.personaldata #data {
  margin-left: 1em;
  font-size: 1.3em;
  font-weight: 100;
}

.photo{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:379px;
  height:305px;
  box-shadow : 3px 3px 5px 0px rgba(0,0,0,0.5);
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: white;
}

.photo .placeholder{
  display:inline-block;
  width:280px;
  height:218px;
  box-sizing:border-box;
  position:relative;
  background-color: #7a7a7a; 
}

.photo .placeholder:hover{
  cursor: pointer;
}

.column, .blind, .blindImg{
  position:absolute;
  top:0;
  height:100%;
  box-sizing:border-box;
}

.blind{
  overflow:hidden;
}

.blindImg{
  width:100%;
  background-size:cover;
  border-radius: 3px;
  border: 1px solid #7a7a7a;
}

/**** SKILLS ****/
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #323b43; 
  width: 65%;

}

.skills-container .th, 
.skills-container .td {
  /* font-family: 'Montserrat', sans-serif; */
  color: white;
  width: 7em;
  margin: 0.6em 0.15em 0.6em 0.15em;
  text-align: center;
}

.skills-container .tr {
  font-size: 0.7em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: 500;
}

.skills-container .td {
  font-weight: 100;
}

.skills-container .td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/*
-webkit-transform: rotate(12deg);
-moz-transform: rotate(12deg);
-ms-transform: rotate(12deg);
-o-transform: rotate(12deg);*/



@media screen and (max-width: 830px) {
  .about-area {
    width: 100%;
  }
  .skills-container {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  
  }

  .photo-container {
    margin-top: 2%;
    width: 100%; 
  }

  .photo {
    margin-top: 0em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    padding: 0em;
    width: 24em;
    height: 20em;
  }

  .introduction{
    width: 70%; 
    margin-left: 1.1em;
    margin-right: 1.1em;
  }

  .skills-container .td img {
    width: 25%;
  }
  .skills-container .th {
    font-weight: 100;
  }

  .skills-container .th, 
  .skills-container .td {
    width: 5em;
  }

}
