/*Footer Section*/
footer {
    position:relative;
    width:100%;
    height: 50px;
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    clear: both;
    z-index: 1002;
  }
  
  /* Courtesy */
  footer p:not(.rights) {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.6rem;
    opacity: 0.9; 
    align-self: center;
    margin-left: 20px;
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.13em;
  }
  footer p a {
    color: white;
    text-decoration: none; 
    letter-spacing: 0.1em;
    color: #FFFFFF; /* #d8d8d8; 909090;*/ 
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s ease-out;  
    transition: color 0.5s ease-out;
  }
  footer p a:hover {
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3)
  }
  
    /* social */
  footer .social-media {
    display: flex;
    margin-right: 15px;
    
  }
  footer .social-media span {
    padding-left: 7px;
    font-size: 0.45em;
    visibility: hidden;
  }


  footer .fab{
    margin-top: 0.5em;
    transition: all 0.5s ease-out;  
    transition: color 0.5s ease-out;
    color: #FFFFFF;
  }
  footer .fab:hover{
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3)
  }
  
  footer a i  {
    margin: 0; 
    padding: 0; 
    width: 30px; 
    height: 30px;
  }
  
  footer .rights {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    text-transform: none;
  }
  
  
/* @MEDIA */ 
@media screen and (max-width: 650px) {
    footer p:not(.rights) {
      font-size: 0.35em;
    }
    footer .rights {
      font-size: 0.4em;
    }
}

@media screen and (max-width: 510px) {
    footer .contact-form {
      width: 100%;
    }
    footer .courtesy {
      margin-top: 0.8em;
    }
    footer {
      display: flex;  
      justify-content: space-around ;  
      flex-flow: row; 
      flex-wrap: wrap;
    }
    footer .social-media {
      margin: 0;
      padding: 0;
    }
    footer .social-media span {
      padding: 0;
      margin-top: 0.5em;
    }
    footer .fab{
      margin-top: 0.3em;
      height: 1.5em;
    }  
}