.photo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80%;
}

.introduction{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.7em;
  opacity: 1;
  max-width: 60%;
  min-width: 50%; 
}

.introduction span {
  font-size: 1.5em;
  color: #333333;
  text-align: center;
}


.personaldata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20%; 
  color: #474747;
  font-family: 'Montserrat', sans-serif;
  padding-top:  1.0em;
}


.personaldata h4 {
  font-size: 1.em;
  color: #333333;
}

.personaldata p {
  padding-top:  1.0em;
  font-size: 0.7em;
  width: 50%;
  text-align: justify;
  padding-bottom:  1.0em;
}

.personaldata p a {
  text-decoration: none;
}

.photo{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:379px;
  height:305px;
  background-color: #454549;
  margin-top: 15px;
  margin-bottom: 15px;
}

.photo .placeholder{
  display:inline-block;
  width:280px;
  height:218px;
  box-sizing:border-box;
  position:relative;
}

.photo .placeholder:hover{
  cursor: pointer;
}

.column, .blind, .blindImg{
  position:absolute;
  top:0;
  height:100%;
  box-sizing:border-box;
}

.blind{
  overflow:hidden;
}

.blindImg{
  width:100%;
  background-size:cover;
  border-radius: 3px;
  border: 1px solid #2c3e50;
}


/*
.photo{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:419px;
  height:337px;
  background-color: #454549;
  margin-top: 15px;
  margin-bottom: 15px;
}

.photo .placeholder{
  display:inline-block;
  width:369px;
  height:287px;
  box-sizing:border-box;
  position:relative;
}
*/