
.projects-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; 
    /* min-height: 100%; */
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.database {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17%;
    height: 30vw;
}

.circle-top {
    border-radius: 50%;
    z-index: 1000;
}

.circle-base {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.common {
    height: 25%;
    width: 100%;
    min-height: 55px;
    min-width: 83px; 
    border: white 2px solid;
    background-color: #267a88;
}

.position-zero {
    z-index: 1000;
    transform: translateY(60px);  
}
.position-one {
    z-index: 999;
    transform: translateY(15px);  
}
.position-two {
    z-index: 998;
    transform: translateY(-30px);  
}
.position-three {
    z-index: 997;
    transform: translateY(-75px);  
}
       
.source {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
    min-width: 15%;
    background: purple; 
    padding-bottom: 15%;
    border-radius: 50%;
    border: 1vw solid #9a12b3;
    border-top-color: #0B9665;
    border-bottom-color: #171F96;

    left: 0;
}

/* .new-circle {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    border: 2vw solid #9a12b3;
    border-top-color: #0B9665;
    border-bottom-color: #171F96;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-delay: 0s;
    margin: 0;
    position: absolute;
    top: -2vw;
    left: 0%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
} */

.data-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
} 

.data-text h4{
    font-size: 1em;
    color: #ffffff;
}

.data-text ul{
    margin-top: 0.5em;
    list-style-type: square;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: baseline;
    margin-left: 1em;
}

.data-text li {
    font-size: 0.7em;
    color: #ffffff;
}


/**********************************************/
    /* TRY USING THIS LIKE A ARROW ROTATE -45 or 135 Degrees */    
    #triangle-bottomleft {
      width: 0;
      height: 0;
      border-bottom: 100px solid red;
      border-right: 100px solid transparent;
    }

    .wall {
        width: 100%;
        height: 80%;
        z-index: 1;
    }    

    @-webkit-keyframes slide {
        0% { opacity:0; transform: translateX(0vw); }  
        20% { opacity:1; transform: translateX(10vw); }   
        80% { opacity:1; transform: translateX(50vw); }  
        100% { opacity:0; transform: translateX(60vw); } 
    }
    @keyframes slide {
        0% { opacity:0; transform: translateX(0vw); }  
        20% { opacity:1; transform: translateX(10vw); }   
        80% { opacity:1; transform: translateX(50vw); }  
        100% { opacity:0; transform: translateX(60vw); } 
    }
    
    @-webkit-keyframes blink{
        0%{opacity: 0;}
        20%{opacity: 1;}
        80%{opacity: 1;}
        100%{opacity: 0;}
    }
    @keyframes blink{
        0%{opacity: 0;}
        20%{opacity: 1;}
        80%{opacity: 1;}
        100%{opacity: 0;}
    }


    @keyframes slidein {
        from {
            margin-left: 0%;
            width: 100%;
            opacity: 0;
          }
          10%{opacity: 1;}
          90%{opacity: 1;}

        to {
          margin-left: 100%;
          width: 100%; 
          opacity: 0;
        }
      }


    .move-wall {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation-name: slide;
        animation-duration: 10s;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        /* animation: slide 8s linear infinite; */
        z-index: -1;
        opacity: 0;
    }
    .sm {
        -webkit-animation-delay: 0s; 
        animation-delay: 0s;
        top: 0%;
    }
    .cs {
        -webkit-animation-delay: 2.5s; 
        animation-delay: 2.5s;
        top: 15%;
    }
    .crm {
        -webkit-animation-delay: 5s; 
        animation-delay: 5s;
        top: 30%;
    }
    .ads {
        -webkit-animation-delay: 8.5s; 
        animation-delay: 8.5s;
        top: 42.5%;
    }

    .leads {
        -webkit-animation-delay: 5s; 
        animation-delay: 5s;
        top: 55%;
    }
    .camp {
        -webkit-animation-delay: 2.5s; 
        animation-delay: 2.5s;
        top: 70%;
    }

    .ec {
        -webkit-animation-delay: 0s; 
        animation-delay: 0s;
        top: 85%;
    }


    .any-data {
        animation: blink 1s linear infinite;
    }

    .behind-wall {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1.3vw;
        font-weight: 600;
        color: #ff1493;
    }

    .newarrow {
        width: 0.7vw;
        height: 0.7vw;
        border: 0.35vw solid;
        border-color: black transparent transparent red;
        transform: rotate(135deg);
        z-index: -1;
        }

/************************ Words Circle ******************/ 

.circlecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20%;
    min-width: 20%;
    background: transparent;
    padding-bottom: 20%;
    border-radius: 15%;
}

.wordscircle {
    color: black;
    position: absolute;
}

.wordscircle p {
    font-family: "Great+Vibes", sans-serif;
    font-weight: bolder;
    color: blue;
    font-size: 1em;
    opacity: 0.6;
    z-index: -10;
}

/* .wordscircle span {
} */

/* Open+Sans|Quicksand|Great+Vibes|Open+Sans:600|Muli|Source+Sans+Pro|Raleway|Roboto:100|Montserrat  */ 

.circlecontainer .extraload {
    font-size: 4.5em;
    vertical-align: top;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000, 5px 5px 10px blue;
    opacity: 0.5;
    z-index: -5;
    position: absolute;
    margin: 0;
    top: 49%;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}    



@-webkit-keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform:  rotate(360deg);
    }
}


@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform:  rotate(360deg);
    }
}



/* @MEDIA */ 
@media screen and (max-width: 940px) {
    .data-text ul{
        list-style-type: none;
        margin-left: 0em;
    }
    .data-text li {
        font-size: 0.6em;
    }
    .data-text h4 {
        font-size: 0.8em;
    }
    .wordscircle p {
        font-size: 0.8em;
    }
    .projects-container .extraload {
        font-size: 3em;
    }        
    .database {
        height: 50vh;
    }
    .common {
        border: white 2.7px solid;
    }
}

@media screen and (max-width: 730px) {
    .data-text ul{
        visibility: hidden;
    }    
    .data-text h4 {
        font-size: 3vw;
        font-weight: 100;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .wordscircle p {
        font-size: 0.6em;
    }
    .projects-container{
        justify-content: space-between; 
    }        
    .projects-container .extraload {
        font-size: 1.8em;
    }        
    .database {
        height: 40vh; 
    }
    .behind-wall {
        font-size: 0.6em;
    }
    .newarrow {
        width: 0.6vw;
        height: 0.6vw;
        border: 0.3vw solid;
        border-color: black transparent transparent red;
    }
}

@media screen and (max-width: 450px) {
    .source {
        margin-left: 5px;
    }
    .database {
        height: 35vh;
        margin-right: 7px;
    }
}
