@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:600|Muli|Source+Sans+Pro|Raleway|Open+Sans|Roboto|Montserrat);

/******** General Styles *********/
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;  
}   

html, body{
  height: 100%;
}

body {
  color: #a6a6a6;
  font-family: 'Prompt', serif;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /*line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))); */
}

hr {
  border: 1px solid gray;
  width: 80%;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: normal;
  src: local('Prompt'), url('./fonts/Prompt-Regular.ttf') format('truetype');
}
/*
@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url("./fonts/AGaramondPro-Bold.otf") format("opentype");
}*/
/* EXAMPLE TO SUPORT MANY BROWSERS
font-face {
    font-family: GraublauWeb;
    src: url("webfont.eot");  IE9 Compat Modes 
    src: url("webfont.eot?#iefix") format("embedded-opentype"),  IE6-IE8 
         url("webfont.woff") format("woff"),  Modern Browsers 
         url("webfont.ttf")  format("truetype"),  Safari, Android, iOS 
         url("webfont.svg#svgFontName") format("svg");  Legacy iOS 
}
*/



#root, .app{
  min-height: 100%;
  height: 100%;
}

.container{
  min-height: 100%;
  width: 100%;
}

/**************  MENUS/Navbar  ****************/ 
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height: 50px;
  top: 0;
  position: fixed;
  z-index: 1001;
}

.navbar .firstmenu a {
  text-decoration-line: none;
  font-size: 25px;
}

.secondmenu {
  margin-left: 20px;
  font-size: 15px;
}

.navbar .fa-bars {
  transition: all 0.4s ease-out;  
  transition: color 0.4s ease-out;
}

.navbar .fa-bars:hover {
  color: #FFFFFF;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.linkMenu {
  text-decoration: none;
  margin-right: 20px;
  margin-left: 5px;
  display: inline-flex;
  transition: all 0.5s ease-out;  
  transition: color 0.5s ease-out;
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Prompt', serif;*/
  /*font-family: 'GraublauWeb';*/
  letter-spacing: 0.10em;
  color: white;
  text-transform: uppercase;
 /* text-decoration-line: underline;
  text-underline-position: under;*/
  font-size: 0.8em;
}

.linkMenu:hover 
{
  color: #000000;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
  font-weight: bolder;
}

.linkMenu > i {
  margin-right: 4px;
}

.color {
  color: #000000;
}

.profile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.personaldata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20%; 
  font-size: 1.5em;
  color: #474747;

}

/* BEGIN PHOTO ********************************************************************************************************************/

  .photo{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 350px;
    background-color: #454549;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .placeholder{
    display:inline-block;
    width:400px;
    height:300px;
    box-sizing:border-box;
    position:relative;
  }

  .column, .blind, .blindImg{
    position:absolute;
    top:0;
    height:100%;
    box-sizing:border-box;
  }

  .blind{
    overflow:hidden;
  }

  .blindImg{
    width:100%;
    background-size:cover;
  }


/* END PHOTO ********************************************************************************************************************/







ul {
  list-style: none; /* to remove the bullets */
}

.main {
  overflow: auto;
  padding-bottom: 50px;
}

/*Footer Section*/
footer {
  position:relative;
  width:100%;
  height: 50px;
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  clear: both;
  z-index: 1002;
}

/* Courtesy */
footer p:not(.rights) {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 11px;
  opacity: 0.9; 
  align-self: center;
  margin-left: 20px;
  color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.13em;
}
footer p a {
  color: white;
  text-decoration: none; 
  letter-spacing: 0.1em;
  color: #FFFFFF; /* #d8d8d8; 909090;*/ 
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease-out;  
  transition: color 0.5s ease-out;
}
footer p a:hover {
  color: #000000;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3)
}


/* social */
footer ul {
  display: flex;
  align-items: flex-end; 
  margin-right: 15px;
}
footer ul li {
  text-align: center;
  margin: 5px;
  padding-left: 7px;
  font-size: 12px;
}
footer .fab{
  transition: all 0.5s ease-out;  
  transition: color 0.5s ease-out;
  color: #FFFFFF;
}
footer .fab:hover{
  color: #000000;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3)
}
footer a i  {
  margin: 0; 
  padding: 0; 
  width: 30px; 
  height: 30px;
}

.rights {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-transform: none;
}

/*********************** Content ************************/
.content {
  display: flex; 
  width: 100%;
  text-align: center;
  flex-direction: column;
  /*margin-left: -18%; */
  }

.content-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

/*************** ANIMATION ********************/
.title {
  display: relative;
  flex-direction: row;
  justify-content: center;
  font: bold 32px "Open Sans", sans-serif;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 20px;
}

.title p {
  display: inline-block;
  vertical-align: top;
  align-items: center;
  align-content: center;
  margin-left: -100px; 
}

.word {
  position: absolute;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

/* MY @MEDIA */ 
@media screen and (max-width: 700px) {
    footer {
      display: flex;  /* To really put spaces between the items, in this case "divs", must be combined with  justify-content:*/
      justify-content: space-around;  /* To really put spaces between the items, in this case "divs", must be combined with  display:; */
      flex-flow: row;/* to put all items (divs) in colum/row mode */
      flex-wrap: wrap; /* When the vertical space becomes to short to support lines in column mode, lines come to the right to fit;*/
    }
    footer p:not(.rights) {
      margin-left: unset;
      margin-top: 7px;
    }
    footer ul {
      margin-right: 0;
      margin-top: 3px;
    }
    footer ul li {
      margin: 0 auto;
      margin-right: 7px;
      padding-left: 0;
    }
    .rights {
      margin-left: 7px;
      margin-top: 7px;
    }

}

@media screen and (max-width: 530px) {
    .secondmenu {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .linkMenu {
      font-size: 0.75em;
      margin-top: 3px;
      margin-bottom: 3px;
    }
    footer {
      height: 65px;
      margin-top: -65px;
    }  

    .main {
      padding-bottom: 65px;  
    }

    footer p:not(.rights) {
      font-size: 0.6em;
    }
    .rights {
      font-size: 0.6em;
    }
    footer ul li {
      font-size: 0.6em;
    }
    footer ul {
      margin-top: 3px;
    }

}
  
/* =======================================================*/
/*                      LANGING PAGE                      */
/* =======================================================*/

ul {
  list-style: none; /* to remove the bullets */
}

.slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

/* Header Styles using flex-box*/
.slide-header {
  padding-top: 80px;
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}


.slide-header h1 {
  visibility: hidden;
  margin-top: 3%;
  z-index: 1002;
  /*font-size: 3rem;*/
  color: #F4E6FA;
  text-align: center;
  letter-spacing: .11em;
  font-family: 'Great Vibes', cursive; 
  text-shadow: 2px 2px 2px rgba(255, 0, 255, 0.6);
  animation: showup 25s ease-in 5s infinite both running;
  -webkit-animation: showup 25s ease-in 5s infinite both running;

}


@-webkit-keyframes showup {
  0% {
    transform: translateY(300px);  
    visibility: visible;
  }
  25% {
    transform: translateY(0px);      
  }
  80% {
    opacity: 0.7;
    transform: translateY(0px);      
  }
  90% {
    opacity: 0.35;      
  }
  100% {
    opacity: 0;      
  }
}

@keyframes showup {
  0% {
    transform: translateY(300px);  
    visibility: visible;
  }
  25% {
    transform: translateY(0px);      
  }
  80% {
    opacity: 0.7;
    transform: translateY(0px);      
  }
  90% {
    opacity: 0.35;      
  }
  100% {
    opacity: 0;      
  }
}



/*The unordered list and its list items that we added to landing.ejs need some styling to make them fit across the entire page
First we'll style the unordered list:*/
#slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
/*This will fix the ul to the window, positioning it in the top left corner and filling the entire screen by setting width and height to 
100%; we set the z-index to 0 to keep the background images behind the rest of the page's content; list-style is set to none in order to 
hide the bullet points from the list's default styling; margin and padding are removed entirely

Now we can style all of the list items:
*/
#slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 90s linear infinite; 
  animation: imageAnimation 90s linear infinite; 
}
/*Notice the animation property at the bottom of this rule, this is how we add an animation to an element; in this case we 
have an animation named imageAnimation that lasts for 50s (seconds), keeps linear timing    (the whole animation runs at the 
  same speed), and loops an infinite number of times

Each list item needs a background-image and the last four need an animation-delay (this way they all fire off one after the other in ten second intervals):
*/
#slideshow li:nth-child(1) { 
  background-image: url(./images/wind-energy-kai-gradert-min.jpg);  /* compacted */ 
}
#slideshow li:nth-child(2) { 
  background-image: url(./images/wind-energy-constantine-fountos.jpg);  /* compacted */ 
  animation-delay: 10s; 
}
#slideshow li:nth-child(3) { 
  background-image: url(./images/wind-energy-tim-vanderhoydonck.jpg);  /* compacted */ 
  animation-delay: 20s; 
}
#slideshow li:nth-child(4) { 
  background-image: url(./images/wind-energy-karsten-wurth.jpg); /* compacted */ 
  animation-delay: 30s; 
}
#slideshow li:nth-child(5) { 
  background-image: url(./images/wind-energy-philippe-bourhis-min.jpg); /* wind-energy-jason-blackeye-.jpg);  */ 
  animation-delay: 40s; 
}
#slideshow li:nth-child(6) { 
  background-image: url(./images/wind-energy-anna-jimenez-calaf-min.jpg); /*wind-energy-rawfilm.jpg);  */
  animation-delay: 50s; 
}
#slideshow li:nth-child(7) { 
  background-image: url(./images/wind-energy-georgi-petrov.jpg);   
  animation-delay: 60s; 
}

#slideshow li:nth-child(8) { 
  background-image: url(./images/wind-energy-andrea-boldizsar.jpg);  
  animation-delay: 70s; 
}

/*Now we can create the keyframes for the animation:*/
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

@-webkit-keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/*The animation will be named imageAnimation, which matches with the value from our animation property in the #slideshow (unordered list) rule

From 0% to 10% (the beginning of our animation) the list item begins changing it's opacity from 0 to 1 (invisible to visible)
the animation-timing-function is set to ease-in at 0% and ease-out and 10%, this makes for a more smooth fade-in (read more about this here)
The list item's opacity then stays at 1 until it reaches 20% at which point it fades back out, reaching 0 at 30% and staying at 0 for the remainder
of the animation
If we have 5 background images visible for 5 seconds each, then the time it takes to fade the image in and keep it visible is 10 seconds with a 5 second 
crossfade/fadeout into the next image; The entire animation cycle for all 5 images takes 50 seconds total
100% divided by 5 is 20% so each image's fadein and visibility should last 20% of the cycle; half of 20% is 10%, that is why our fade in is from 0% to
10%, then we keep it visible until 20% is reached and begin the fadeout from 20% to 30%, the 5 second fadeout overlaps the next image's 5 second fadein,
 which is what creates the crossfade effect
Lastly, we need to add animation support for older browsers; we've already added the modernizr CDN to our landing page's head element, now we just need 
the following rule in our landing.css:*/

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations #slideshow li {
    opacity: 1;
}



